<div class='row'>
	<div class='projectwindow col-md-6 col-sm-12' (click)="clickBack()">
		<h2>Pokedex Trivia</h2>
		<p><u>GitHub</u>: <a href='https://github.com/redyoshi33/Pokedex_Trivia' target="_blank">github.com/redyoshi33/Pokedex_Trivia</a></p>
		<p><u>Technologies</u>: Swift, Pokemon API, Core Data, AV Foundation </p>
		<p><u>Role</u>: Worked independently, built the UI and the logic, fetching data through API calls.</p>
		<p><u>Description</u>: The goal of the Pokedex Trivia iOS application is to guess the Pokemon based on a random description. This project was built using Swift and uses the Pokemon API, Core Data, and AV Foundation. The Pokemon API contains the name and description of each Pokemon along with an image of the Pokemon, Core Data allows for a local high score board, and AV Foundation adds sounds for correct and wrong answers. A random number is generated and is used to pull JSON data from the Pokemon API.</p>
		<p><u>Challenges</u>: The toughest challenge was making two API calls and signaling when the API calls were successful. The first call grabs data on the name and description of the Pokemon, but also contains another url, which contains the hints and the image of the Pokemon. Since the hints are part of the second API call, if the user submitted a wrong answer before the call is finished, the hints wouldn’t be displayed properly. In order to solve this, the initial call is made to collect the first part of the information. Once the second url is stored, another function is called to make another API call for the hint and Pokemon image. To signal that the calls are successful, a loading spinner will appear initially if the first API call isn’t finished and disappear once it is, and the submit button is disabled until the second API call is finished.
		<p><u>Awards</u>: Placed 1st in a 24 hour Swift Hackathon amongst 8 teams. </p>
		<div class='align-btn'><button>Back</button></div>
	</div>
	<div class='video col-md-6 col-sm-12'>
		<iframe width="100%" height="400" src="https://www.youtube.com/embed/WWDErN6LTsM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
</div>