<div class='row'>
	<div class='projectwindow col-md-6 col-sm-12'>
		<h2>Pokedex Trivia</h2>
		<p><strong>GitHub: </strong> <a href='https://github.com/redyoshi33/Pokedex_Trivia' target="_blank">github.com/redyoshi33/Pokedex_Trivia</a></p>
		<p><strong>Technologies: </strong> Swift, Pokemon API, Core Data </p>
		<p><strong>Role: </strong>Worked independently, built the UI and the logic, fetching data through API calls.</p>
		<p><strong>Description: </strong>A trivia iOS application that uses the Pokemon API to pull a description about a random Pokemon and allows the user to guess which Pokemon it is. Users can score points and place on a local score board.</p>
		<p><strong>Awards:</strong> Placed 1st in a Swift Hackathon amongst 8 teams. </p>
		<div class='align-btn'><button (click)="clickBack()">Back</button></div>
	</div>
	<div class='video col-md-6 col-sm-12'>
		<iframe width="100%" height="315" src="https://www.youtube.com/embed/WWDErN6LTsM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
</div>