<nav class="navbar navbar-expand-lg navbar-light fixed-top" id='navbar' >
	<a class="navbar-brand" [ngx-scroll-to]="'#header-img'" id='name'>RY</a>
  	<button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarlist" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarlist" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#aboutme'" [ngx-scroll-to-offset]="-72">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#projects'" [ngx-scroll-to-offset]="-272">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#skills'" [ngx-scroll-to-offset]="-272">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#experience'" [ngx-scroll-to-offset]="-272">Experience</a>
      </li>
    </ul>
  </div>
</nav>