<app-navbar></app-navbar>

<div class='container'>
	<div id='header-img'>
		<h1 class='topname' ngsReveal>Ryan Young</h1>
		<h1 class='title' ngsReveal>Software Developer</h1>
	</div>
	<div class='row' id='aboutme' ngsReveal>
		<div class='col-lg-3 col-md-3 col-sm-8'>
			<img src="/assets/Profile.jpg" alt='profile picture' id='profile_pic'>
		</div>
		<div class='col-lg-9 col-md-9 col-sm-10'>
			<h1 class='aboutme-header'>About Me</h1>
			<p class='aboutme-body'>Hello! I'm Ryan and I'm a software developer with proficiency in Javascript, Python, and Swift. I graduated UC Davis in 2015 with a Bachelor's of Science in Animal Biology and started working in the CA Department of Fish and Wildlife, where I gained valuable experience working closely with a field crew and experience adapting to unexpected problems. After working there for 2 years, I discovered a new passion for programming and decided to expand my knowledge and experience of the field, so I can make applications that can improve society. If you would like to learn more, please get in touch with me:</p>
			<div class='row' id='contact'>
				<div class='col-md-3 col-sm-6'>
					<a href="mailto:rayyoung@ucdavis.edu">
						<i class="fas fa-envelope fa-3x"></i>
					</a>
					<h5>Email</h5>
				</div>
				<div class='col-md-3 col-sm-6'>
					<a href="/assets/RyanYoungResume.pdf" target="_blank">
						<i class="fas fa-file fa-3x"></i>
					</a>
					<h5>Resume</h5>
				</div>
				<div class='col-md-3 col-sm-6'>
					<a href="https://github.com/redyoshi33/" target="_blank">
						<i class="fab fa-github fa-3x"></i>
					</a>
					<h5>Github</h5>
				</div>
				<div class='col-md-3 col-sm-6'>
					<a href="https://www.linkedin.com/in/youngryan93/" target="_blank">
						<i class="fab fa-linkedin fa-3x"></i>
					</a>
					<h5>LinkedIn</h5>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='header-img2'>
	<h1>PROJECTS</h1>
</div>
<div class="container" id='projects'>
	<div *ngIf='game' ngsReveal><app-twentyfourgame (BackEventEmitter)='switchBack()'></app-twentyfourgame></div>
	<div *ngIf='poke' ngsReveal><app-pokedex (BackEventEmitter)='switchBack()'></app-pokedex></div>
	<div *ngIf='weeh' ngsReveal><app-weeh (BackEventEmitter)='switchBack()'></app-weeh></div>

	<div *ngIf='showcom' class='row' ngsReveal>
		<div class='col-lg-4 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='project-card'>
					<h3>24 Game</h3>
					<img src="/assets/24game.png" alt='24 Game img'>
					<p>A multiplayer web application game that uses socket.io, in which users compete to see who can make the value 24 using all 4 displayed numbers and the four basic operations of arithmetic (add, subtract, multiply, divide).</p>
					<button (click)="clickDetail24()">More Details</button>
				</div>
			</div>
		</div>
		<div class='col-lg-4 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='project-card'>
					<h3>Pokedex Trivia</h3>
					<div class='pokedex-imgs'>
						<img src="/assets/Pokedex.png" alt='Pokedex Trivia 1 img'>
					</div>
					<p>A trivia iOS application that uses the Pokemon API to pull a description about a random Pokemon and allows the user to guess which Pokemon it is. Users can score points and place on a local score board.</p>
					<button (click)="clickDetailPoke()">More Details</button>
				</div>
			</div>
		</div>
		<div class='col-lg-4 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='project-card'>
					<h3>Where Eat, Eat Here</h3>
					<img src="/assets/WEEH.png" alt='WEEH img'>
					<p>A restaurant finding web application that allows users to create a profile and add other users as friends. Users can then create groups that use multiple user preferences to select a restaurant.</p>
					<button (click)="clickDetailWEEH()">More Details</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='header-img3'>
	<h1>SKILLS</h1>
</div>
<div class="container">
	<div class='row' id='skills' ngsReveal>
		<div class='col-lg-3 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='skill-card'>
					<div class='skill-head'>
						<h4>Languages</h4>
					</div>
					<div class='skill card-body'>
						<ul>
							<li>Javascript</li>
							<li>Python</li>
							<li>Swift</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-3 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='skill-card'>
					<div class='skill-head'>
						<h4>Front End</h4>
					</div>
					<div class='skill-body'>
						<ul>
							<li>HTML/CSS</li>
							<li>Angular</li>
							<li>jQuery</li>
							<li>AJAX</li>
							<li>Bootstrap</li>
							<li>Socket.io</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-3 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='skill-card'>
					<div class='skill-head'>
						<h4>Back End</h4>
					</div>
					<div class='skill-body'>
						<ul>
							<li>Node.js</li>
							<li>Express</li>
							<li>Django</li>
							<li>Mongoose</li>
							<li>MongoDB</li>
							<li>MySQL</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-3 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='skill-card'>
					<div class='skill-head'>
						<h4>Misc</h4>
					</div>
					<div class='skill-body'>
						<ul>
							<li>AWS</li>
							<li>Restful API</li>
							<li>JSON</li>
							<li>Git</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='header-img4'>
	<h1>EXPERIENCE</h1>
</div>
<div class="container">
	<div class='row' id='experience' ngsReveal>
		<div class='col-sm-12'>
			<div class='card'>
				<div class='exp-card'>
					<div class='exp-head'>
						<h3>Student Software Developer</h3>
						<h4>Coding Dojo - San Jose</h4>
						<p>Jan 2018 - Apr 2018</p>
					</div>
					<div class='exp-body'>
						<ul>
							<li>Learned three full stacks: Python, Swift, and MEAN, as well as front-end HTML/CSS. </li>
							<li>Dedicated 1000+ hours of coding within three months. </li>
							<li>Created websites and projects using various frameworks, such as Django and MEAN, and implemented databases, like MongoDB, for back-end. Gained the knowledge and skills for full stack web development, such as deploying websites from client to server to database.</li>
							<li>Collaborated with other students to create new projects.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-12'>
			<div class='card'>
				<div class='exp-card'>
					<div class='exp-head'>
						<h3>Scientific Aid</h3>
						<h4>California Department of Fish and Wildlife - Stockton</h4>
						<p>Nov 2015 - Jan 2018</p>
					</div>
					<div class='exp-body'>
						<ul>
							<li>Processed biological samples collected from San Francisco Estuary using a dissecting microscope. Identified species and sex for shrimp species found in the bay and recorded data onto Microsoft Access.</li>
							<li>Assisted with sample collection on a research vessel each month. Worked with the field crew to set and retrieve the midwater net and otter trawl, measure and identify fish and invertebrate species, and record environmental parameters.</li>
							<li>Trained and managed new hires, while revamping the protocol for processing biological samples.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-12'>
			<div class='card'>
				<div class='exp-card'>
					<div class='exp-head'>
						<h3>Staff Research Associate II</h3>
						<h4>University of California, Davis - Davis</h4>
						<p>Jul 2016 - Sept 2016</p>
					</div>
					<div class='exp-body'>
						<ul>
							<li>Supervised and managed the daily operation of the Center for Aquatic Biology and Aquaculture (CABA). Provided direct technical assistance to faculty, staff and students using the facilities, equipment, and animals for research.</li>
							<li>Provided primary emergency response to failures of power, water supply, and environmental control systems through understanding the facilities and life support systems.</li>
							<li>Provided routine facility and system mechanical maintenance and animal husbandry, which consisted of feeding, tank cleaning, and health monitoring.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-12'>
			<div class='card'>
				<div class='exp-card'>
					<div class='exp-head'>
						<h3>Research Associate</h3>
						<h4>University of California, Davis - Davis</h4>
						<p>Jun 2015 - Dec 2015</p>
					</div>
					<div class='exp-body'>
						<ul>
							<li>Collaborated with lab members to perform swimming and behavioral experiments on green sturgeon, including constructing experiment protocols and recording data through Excel.</li>
							<li>Utilized critical-thinking and observation skills to analyze experimental data and write up scientific papers for publishing. </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='header-img5'>
	<h1>CONTACT</h1>
</div>
<div class='container'>
	<div class='row' id='contact' ngsReveal>
		<div class='col-md-4 col-sm-12'>
			<a href="mailto:rayyoung@ucdavis.edu">
				<i class="fas fa-envelope fa-2x"></i>
			</a>
			<p>Email: rayyoung@ucdavis.edu</p>
		</div>
		<div class='col-md-4 col-sm-12'>
			<a href="https://github.com/redyoshi33/" target="_blank">
				<i class="fab fa-github fa-2x"></i>
			</a>
			<p>Github: github.com/redyoshi33/</p>
		</div>
		<div class='col-md-4 col-sm-12'>
			<a href="https://www.linkedin.com/in/youngryan93/" target="_blank">
				<i class="fab fa-linkedin fa-2x"></i>
			</a>
			<p>LinkedIn: linkedin.com/in/youngryan93/</p>
		</div>
	</div>
</div>










