<app-navbar></app-navbar>

<div class='container'>
	<div id='header-img'>
		<h1 class='topname' ngsReveal>Ryan Young</h1>
		<h1 class='title' ngsReveal>Software Developer</h1>
	</div>
	<div class='row' id='aboutme' ngsReveal>
		<div class='col-lg-4 col-md-4 col-sm-8'>
			<div class='col-md-12'>
				<img src="/assets/Profile.jpg" alt='profile picture' id='profile_pic'>
			</div>
		</div>
		<div class='col-lg-8 col-md-8 col-sm-10'>
			<div class='col-md-12'>
				<h1 class='aboutme-header'>About Me</h1>
				<p class='aboutme-body'>Hello! I'm Ryan and I'm a software developer with proficiency in Javascript, Python, and Swift. I've always had an interest in coding and started learning on my own with small tasks like printing "Hello world!" After a bit of practice, I decided to take the next step expanding my knowledge and experience of the field, so I enrolled in Coding Dojo, where I learned to build various projects with front-end and back-end. Along with coding, I have a passion for research and data as I originally came from a scientific background, graduating UC Davis in 2015 with a Bachelor's of Science in Animal Biology and working in the CA Department of Fish and Wildlife. I want to combine both of my passions of data and programming and make an impact on society. If you would like to learn more, please get in touch with me:</p>
				<div class='row' id='contact'>
					<div class='col-md-3 col-sm-6'>
						<a href="mailto:rayyoung@ucdavis.edu">
							<i class="fas fa-envelope fa-3x"></i>
						</a>
						<h5>Email</h5>
					</div>
					<div class='col-md-3 col-sm-6'>
						<a href="/assets/Ryan Young Resume.pdf" target="_blank">
							<i class="fas fa-file fa-3x"></i>
						</a>
						<h5>Resume</h5>
					</div>
					<div class='col-md-3 col-sm-6'>
						<a href="https://github.com/redyoshi33/" target="_blank">
							<i class="fab fa-github fa-3x"></i>
						</a>
						<h5>Github</h5>
					</div>
					<div class='col-md-3 col-sm-6'>
						<a href="https://www.linkedin.com/in/youngryan93/" target="_blank">
							<i class="fab fa-linkedin fa-3x"></i>
						</a>
						<h5>LinkedIn</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='header-img2'>
	<h1>PROJECTS</h1>
</div>
<div class="container" id='projects'>
	<div *ngIf='game' ngsReveal><app-twentyfourgame (BackEventEmitter)='switchBack()'></app-twentyfourgame></div>
	<div *ngIf='poke' ngsReveal><app-pokedex (BackEventEmitter)='switchBack()'></app-pokedex></div>
	<div *ngIf='weeh' ngsReveal><app-weeh (BackEventEmitter)='switchBack()'></app-weeh></div>

	<div *ngIf='showcom' class='row' ngsReveal>
		<div class='col-lg-4 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100' (click)="clickDetailWEEH()">
				<div class='project-card'>
					<h3>Where Eat, Eat Here</h3>
					<img src="/assets/WEEH GIF.gif" alt='WEEH gif'>
					<p>A restaurant finding web application that allows users to create a profile and add other users as friends. Users can then create groups that use multiple user preferences to select a restaurant.</p>
					<button>More Details</button>
				</div>
			</div>
		</div>
		<div class='col-lg-4 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100' (click)="clickDetailPoke()">
				<div class='project-card'>
					<h3>Pokedex Trivia</h3>
					<div class='pokedex-imgs'>
						<img id="PokedexGIF"src="/assets/Pokedex GIF.gif" alt='Pokedex Trivia gif'>
					</div>
					<p>A trivia iOS application that uses the Pokemon API to pull a description about a random Pokemon and allows the user to guess which Pokemon it is. Users can score points and place on a local score board.</p>
					<button>More Details</button>
				</div>
			</div>
		</div>
		<div class='col-lg-4 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100' (click)="clickDetail24()">
				<div class='project-card'>
					<h3>24 Game</h3>
					<img src="/assets/24Game GIF.gif" alt='24 Game gif'>
					<p>A multiplayer web application game that utilizes socket.io, in which users can compete to see who can make the value 24 using all 4 displayed numbers and the four basic operations of arithmetic (add, subtract, multiply, divide).</p>
					<button>More Details</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='header-img3'>
	<h1>SKILLS</h1>
</div>
<div class="container">
	<div class='row' id='skills' ngsReveal>
		<div class='col-lg-3 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='skill-card'>
					<div class='skill-head'>
						<h4>Languages</h4>
					</div>
					<div class='skill card-body'>
						<ul>
							<li>Javascript</li>
							<li>Typescript</li>
							<li>Python</li>
							<li>Swift</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-3 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='skill-card'>
					<div class='skill-head'>
						<h4>Front End</h4>
					</div>
					<div class='skill-body'>
						<ul>
							<li>HTML/CSS</li>
							<li>Angular</li>
							<li>jQuery</li>
							<li>AJAX</li>
							<li>Bootstrap</li>
							<li>Socket.io</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-3 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='skill-card'>
					<div class='skill-head'>
						<h4>Back End</h4>
					</div>
					<div class='skill-body'>
						<ul>
							<li>Node.js</li>
							<li>Express</li>
							<li>Django</li>
							<li>Mongoose</li>
							<li>MongoDB</li>
							<li>MySQL</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-3 col-md-6 col-sm-12 item-spacing'>
			<div class='card h-100'>
				<div class='skill-card'>
					<div class='skill-head'>
						<h4>Misc</h4>
					</div>
					<div class='skill-body'>
						<ul>
							<li>AWS</li>
							<li>Restful API</li>
							<li>JSON</li>
							<li>Git/Github</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='header-img4'>
	<h1>EXPERIENCE</h1>
</div>
<div class="container">
	<div class='row' id='experience' ngsReveal>
		<div class='col-sm-12'>
			<div class='card'>
				<div class='exp-card'>
					<div class='exp-head'>
						<h3>Student Software Developer</h3>
						<h4>Coding Dojo - San Jose</h4>
						<p>Jan 2018 - Apr 2018</p>
					</div>
					<div class='exp-body'>
						<ul>
							<li>Dedicated over 1000+ hours of coding learning Javascript, Python, and Swift, as well as utilizing different frameworks, such as Django and Node.js, and implementing databases, like MongoDB, for back-end. Gained experience deploying projects using AWS. </li>
							<li>Placed first in two 24 hour hackathons and received full marks on industry level exams and awarded triple black belts (highest accolade). </li>
							<li>Helped multiple classmates with learning the fundamentals of front-end and back-end development and building multiple web applications and projects using various wireframes.</li>
							<li>Collaborated with other students to create new projects.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-12'>
			<div class='card'>
				<div class='exp-card'>
					<div class='exp-head'>
						<h3>Scientific Aid</h3>
						<h4>California Department of Fish and Wildlife - Stockton</h4>
						<p>Nov 2015 - Jan 2018</p>
					</div>
					<div class='exp-body'>
						<ul>
							<li>Worked with a field crew of 5-6 people to collect biological samples from the San Francisco Estuary year round. Recorded data and managed the population monitoring database that multiple environmental groups throughout the state relied on.</li>
							<li>Achieved a reduction of 30% in training time for new recruits by revamping protocols for processing biological samples.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-12'>
			<div class='card'>
				<div class='exp-card'>
					<div class='exp-head'>
						<h3>Staff Research Associate II</h3>
						<h4>University of California, Davis - Davis</h4>
						<p>Jul 2016 - Sept 2016</p>
					</div>
					<div class='exp-body'>
						<ul>
							<li>Supervised and managed the daily operation of the Center for Aquatic Biology and Aquaculture (CABA). Provided direct technical assistance to faculty, staff and students using the facilities, equipment, and animals for research.</li>
							<li>Provided primary emergency response to failures of power, water supply, and environmental control systems through understanding the facilities and life support systems.</li>
							<li>Provided routine facility and system mechanical maintenance and animal husbandry, which consisted of feeding, tank cleaning, and health monitoring.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-12'>
			<div class='card'>
				<div class='exp-card'>
					<div class='exp-head'>
						<h3>Research Associate</h3>
						<h4>University of California, Davis - Davis</h4>
						<p>Jun 2015 - Dec 2015</p>
					</div>
					<div class='exp-body'>
						<ul>
							<li>Collaborated with lab members to perform swimming and behavioral experiments on green sturgeon, including constructing experiment protocols and recording data through Excel and R.</li>
							<li>Utilized critical-thinking and observation skills to analyze experimental data and write up scientific papers for publishing. </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='header-img5'>
	<h1>CONTACT</h1>
</div>
<div class='container'>
	<div class='row' id='ender' ngsReveal>
		<div class='col-md-4 col-sm-12'>
			<a href="mailto:rayyoung@ucdavis.edu">
				<i class="fas fa-envelope fa-2x"></i>
			</a>
			<p>Email: rayyoung@ucdavis.edu</p>
		</div>
		<div class='col-md-4 col-sm-12'>
			<a href="https://github.com/redyoshi33/" target="_blank">
				<i class="fab fa-github fa-2x"></i>
			</a>
			<p>Github: github.com/redyoshi33/</p>
		</div>
		<div class='col-md-4 col-sm-12'>
			<a href="https://www.linkedin.com/in/youngryan93/" target="_blank">
				<i class="fab fa-linkedin fa-2x"></i>
			</a>
			<p>LinkedIn: linkedin.com/in/youngryan93/</p>
		</div>
	</div>
</div>










