<div class='row'>
	<div class='projectwindow col-md-6 col-sm-12'>
		<h2>Where Eat, Eat Here</h2>
		<p><strong>GitHub: </strong> <a href='https://github.com/redyoshi33/Restaurant_app' target="_blank">github.com/redyoshi33/Restaurant_app</a></p>
		<p><strong>Technologies: </strong> Python, Django, Google Maps API, Yelp API, Bootstrap </p>
		<p><strong>Role: </strong>Built on a team of 2 developers, contributed with building the UI, front-end, and back-end.</p>
		<p><strong>Description: </strong>A restaurant finding web application that allows users to create a profile and add other users as friends. Users can then create groups that use multiple user preferences to select a restaurant.</p>
		<p><strong>Awards:</strong> Placed 1st in a Python Hackathon amongst 4 teams. </p>
		<div class='align-btn'><button (click)="clickBack()">Back</button></div>
	</div>
	<div class='video col-md-6 col-sm-12'>
		<iframe width="100%" height="315" src="https://www.youtube.com/embed/ZukKZSmecIc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
</div>
