<div class='row'>
	<div class='projectwindow col-md-6 col-sm-12'>
		<h2>24 Game</h2>
		<p><strong>GitHub: </strong> <a href='https://github.com/redyoshi33/24cardgame' target="_blank">github.com/redyoshi33/24cardgame</a></p>
		<p><strong>Technologies: </strong> Express.js, Node.js, Angular, Socket.io, Bootstrap </p>
		<p><strong>Role: </strong>Worked independently, built the UI, game logic, and server to user connections.</p>
		<p><strong>Description: </strong>A multiplayer web application game that uses socket.io, in which users compete to see who can make the value 24 using all 4 displayed numbers and the four basic operations of arithmetic (add, subtract, multiply, divide).</p>
		<div class='align-btn'><button (click)="clickBack()">Back</button></div>
	</div>
	<div class='video col-md-6 col-sm-12'>
		<iframe width="100%" height="315" src="https://www.youtube.com/embed/WC1hlFO55Y8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
</div>

